
<h3 class="ask ">Trả lời câu hỏi: </h3>
<form class="form" action="/add/question" method="post">
    <input type="text" name="question" value="" placeholder="question">
    <input type="submit" name="" value="Submit">
</form>