<title>Home</title>
<h1 class="home question">{{question}}</h1>
<form class="" action="{{{href}}}" method="post">
    <input class="home yes" type="submit" name="choice" value="Có" style="visibility: {{visibility}}">
    <input class="home no" type="submit" name="choice" value="Không" style="visibility: {{visibility}}">
</form>