.menu{
    background: #D5B0AC;
    text-align: center;
    font-weight: bold;
    color: #402E2A;
}
.menu span{
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

.menu span:hover{
    color: #FFFFFF;
    background: #9CD08F;
    cursor: pointer;
}
.menu_vertical{
    width: 100px;
    text-align: left;
    height: 30px;
}
.menu_vertical span{
    background: #D5B0AC;
    display: block;
    padding-left: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.5); /* white border with opacity 50% */
}

