.home.question{
    text-align: center;
}

.about {
    margin-left: 20px;
}

.avatar {
    display: inline;
    width: 150px;
    height: 300px;
}

input.home {
    text-align: center;
    position: absolute;
}

input.yes {
    position: relative;
}

input.no {
    position: relative;
}

.col-centered{
    text-align: center;
}